@import "tailwindcss";
@import "./styles/fonts.css";

@theme {
  --font-montserrat: "Montserrat", system-ui, sans-serif;
}

body {
  font-family: var(--font-montserrat);
  color: #475569;
  letter-spacing: 0.02em;
  line-height: 1.5;
}